/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 30, 2014, 2:24:50 PM
    Author     : rdinh
*/

.ui-dialog {
     background-color: #fff;
     border:1px solid #000;
     padding:15px;
}